<mat-card class="mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Mini Homebroker</mat-card-title>
        <mat-card-subtitle>Sistema de compras e vendas de ativos</mat-card-subtitle>
    </mat-card-header>
    <form id="content">
        <input type="text" name="meuInput" [(ngModel)]="meuInput">
        <button class="mat-elevation-z8" (click)="comprar()"  mat-stroked-button color="accent">COMPRAR</button>
        <button class="mat-elevation-z8" (click)="vender()" mat-stroked-button color="warn">VENDER</button>
        <button class="mat-elevation-z8" (click)="pesquisa()" mat-stroked-button color="basic">PESQUISAR</button>
    </form>
</mat-card>